.fullview{
    background: transparent;
    display: flex;
    color: white ;
    min-height: 100vh;
    min-width: 100%;
    padding: 0rem;
    justify-content: center;

}


#bg-video {
    position: fixed ;
    right: 20;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    background-size: cover;
    opacity: 0.3;
      
  }


  .text-container {
    display: block;
    -webkit-text-stroke: 0.1rem rgba(0, 0, 0, 0.274);
}
/*
.home-text{
    color: rgb(83, 83, 83);
    background-color: rgba(214, 180, 214, 0.146);
    border-radius:100px/120px;
    margin: 1rem ;
    font-size: 18px;
    font-weight: 700;
    font-style:normal;
    text-shadow: none;
    border: 3px solid rgba(150, 150, 150, 0.72);

}*/




@media only screen and (max-width: 768px) {

    .fullview{
        background: transparent;
        display: flex;
        color: white ;
        min-height: 100vh;
        min-width: 100%;
        padding: 0px;
    
    }

    #bg-video {
        width: 100% ;
        right: 0;
        height: auto;
        object-fit: cover;
        z-index: 0;
      }
  }
  