.comment-box-button {
    background-color: #01454f;
    color: whitesmoke;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;

  }
  .comment-box-button:hover{
    background-color: #21b2c8a3;
    color: #01454f;
  }

  .comment-box-button:active{
    transform: translateY(2px);
  }