

.login-options {
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .social-icons .ico:active {
    transform: translateY(2px);
  }

  .auth-fb{
    border: none;
    background-color: rgba(0, 0, 255, 0.75);
    font-weight: 500;
    color: white;
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px !important;
  }
  .auth-fb:hover{
    background-color: white;
    color: blue;
  }